.outerContainer {
  width: 100%;
  height: 100%;
  background-color: #252233;
}
.individualCurrency {
  width: 100%;
  height: 5rem;
  border: 2px solid red;
  display: flex;
}
.individualCurrency .leftSide,
.individualCurrency .rightSide {
  width: 50%;
  height: 100%;
  border: 2px solid white;
}
