@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Poppins', sans-serif; */

.outerContainer {
  width: 100%;
  height: 100%;
  background-color: #252233;
  padding-left:  0.5rem;
  padding-right: 0.5rem;
}
.currencyListContainer {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.currencyListContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #37344b;
	border-radius: 10px;
	background-color: #37344b;
  opacity: 0.5;
}


.currencyListContainer::-webkit-scrollbar
{
	width: 8px;
	background-color: #37344b;
}

.currencyListContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #252233;
	background-color: #252233;
 
}

.individualCurrency,
.coinAdd,
.activeindividualCurrency {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
  opacity: 0.65;
  transition: all 0.3s ease;
  border-bottom: 3px solid #37344b;
}
.coinAdd{
  opacity: 1;
  border: 0;
}
.individualCurrency:hover,
.activeindividualCurrency{
 opacity: 1;
}
.activeindividualCurrency{
 border-bottom: 3px solid #5b5772;
}
.individualCurrency:hover .currencyName,
.activecurrencyName,
.individualCurrency:hover .price{
 /* opacity: 1; */
 color: white !important;
}
.activeCoin{
  opacity: 1 !important;
}
.leftSide,
.rightSide,
.coinAdd .leftSide,
.coinAdd .rightSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.rightSide,
.coinAdd .rightSide {
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.leftSide .iconContainer,
.coinAdd .leftSide .iconContainer {
  width: 2rem;
  height: 2rem;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.currencyName,
.price,
.percentageRed,
.percentageGreen,
.activecurrencyName,
.activepercentageRed,
.activepercentageGreen {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.currencyName,
.activecurrencyName {
  margin-left: 0.5rem;
  text-transform: uppercase;
}
.currencyName,
.price{
  color: #8b88a0;
}

.percentageRed,
.activepercentageRed{
  color: #f23939;
}
.percentageGreen,
.activepercentageGreen {
  color: #8b88a0 !important;
}
.iconContainer img,
.coinAdd .leftSide .iconContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.coinBtn {
  width: 3rem;
  height: 3rem;
  border: 3px solid blue;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}
.activePrice{
  color: white !important;
  font-family: "Poppins", sans-serif;
}