.dataPlot_Wrapper{
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 255, 1);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.coinDetail{
    width: 100%;
    height: 4rem;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 3px solid #37344b;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.coinDetail .coinPrice{
    font-size: 2.75rem;
    color: white;
    font-weight: 500;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;

}
.percentageChange{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin-left: 0.5rem; */
    
}
.badge{
    width: 4.5rem;
    height: 50%;
    color: white;
    background-color: #f23939;
    border-radius: 4px;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}
.Btns{
    width: 13rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Btn{
    width: 6rem;
    height: 90%;
    border: 3px solid #37344b;
    color: #8b88a0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    font-size: 0.85rem;
}
.historyTimeContainer{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
.historyTime{
    cursor: pointer;
    width: 3.5rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}
.historyTime:hover{
    background-color: #37344b;
    color: rgba(255, 255, 255, 1);
}
.active{
    background-color: white;
    color: black;
    cursor: pointer;
    width: 3.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
